<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyCapsWebApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>myweb</servlet-name>
    <servlet-class>com.caps.basics.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myweb</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.caps.basics.Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletQuery</servlet-name>
    <servlet-class>com.caps.basics.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletQuery</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.caps.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.caps.controller.DeleteTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.caps.controller.UpdateTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Log</servlet-name>
    <servlet-class>com.caps.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log</servlet-name>
    <url-pattern>/in</url-pattern>
  </servlet-mapping>
</web-app>